<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>MostrarLista</display-name>
    <servlet-name>MostrarLista</servlet-name>
    <servlet-class>com.ejercicio.controller.MostrarLista</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MostrarLista</servlet-name>
    <url-pattern>/MostrarLista</url-pattern>
  </servlet-mapping>
  <display-name>EjercicioJueves9</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletBuscar</display-name>
    <servlet-name>ServletBuscar</servlet-name>
    <servlet-class>com.ejercicio.controller.ServletBuscar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletBuscar</servlet-name>
    <url-pattern>/ServletBuscar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAgregar</display-name>
    <servlet-name>ServletAgregar</servlet-name>
    <servlet-class>com.ejercicio.controller.ServletAgregar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAgregar</servlet-name>
    <url-pattern>/ServletAgregar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletModificar</display-name>
    <servlet-name>ServletModificar</servlet-name>
    <servlet-class>com.ejercicio.controller.ServletModificar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletModificar</servlet-name>
    <url-pattern>/ServletModificar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminar</display-name>
    <servlet-name>ServletEliminar</servlet-name>
    <servlet-class>com.ejercicio.controller.ServletEliminar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminar</servlet-name>
    <url-pattern>/ServletEliminar</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletMostrar</display-name>
    <servlet-name>ServletMostrar</servlet-name>
    <servlet-class>com.ejercicio.controller.ServletMostrar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletMostrar</servlet-name>
    <url-pattern>/ServletMostrar</url-pattern>
  </servlet-mapping>
</web-app>